<?xml version="1.0"?>
<launch>

<group ns="$(env ROBOT)">

  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="3d_sensor" value="ninjakinect" />
    <arg name="stacks" value="ninja-hexagons" />
  </include>

  <!-- tf -->
  <!--node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.080 -0.013 0.350 1.571 0 1.963 base_link camera_rgb_obtical_frame 210"/-->

  <!-- Kinect Stuff -->
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="true" />
    <arg name="depth_registration" value="true" />
    <arg name="depth_processing" value="true" />
    <arg name="scan_topic" value="/scan_kinect" />
  </include>

  <!-- ALVAR Tracking-->
  <arg name="marker_size"          default="12.0" />
  <arg name="max_new_marker_error" default="0.05" />
  <arg name="max_track_error"      default="0.05" />
  <arg name="cam_image_topic"      default="/camera/depth_registered/points" />
  <arg name="cam_info_topic"       default="/camera/rgb/camera_info" />
  <arg name="output_frame"         default="/camera_rgb_optical_frame" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

  <!-- Hokuyo Laser -->
  <node name="hokuyo_laser_driver" pkg="urg_node" type="urg_node">
    <param name="frame_id" value="/base_link"/>
    <param name="min_ang" value="-1.047"/>
    <param name="max_ang" value="1.047"/>
    <param name="intensity" value="false"/>
  
    <remap from="scan" to="scan_hokuyo" />
  </node>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>

</group>

</launch>
