<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro.py $(find turtlebot_description)/robots/kobuki_ninja-hexagons_ninjakinect.urdf.xacro" />


  <arg name="map_file" value="$(env TURTLEBOT_MAP_FILE)" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
 
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find turtlebot_bringup)/rviz/multirobot.rviz"/>

</launch>

