# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.jar

# Executables
*.exe
*.out
*.app
*.class
*.apk

# android build directories
ttb_apps/build/
ttb_apps/marauders_map/build/
ttb_apps/mmlib/build/
ttb_apps/.gradle/

#local config files for android studio
*.iml
local.properties
/ttb_apps/.idea

# Editor backup files
*~
