body html {

    height: 100%;

}

.btn {

    background-color: black;

}

.board {

    display: inline-block;
    border: 1px solid black;

}

.ground {

    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid black;

}

.stenchTile {
    background-color: lightcoral;
}

.breezeTile {
    background-color: lightblue;
}
.wumpusTile {
    background-color: red;
}

.trapTile {
    background-color: blue;
}

.goldTile {
    background-color: gold;
}

.image {
    position: absolute;
}