
<launch>

  <!-- start Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find turtle_simulator)/worlds/playground.world"/>
    <arg name="gui" value="false"/>
  </include>

  <include file="$(find turtle_simulator)/launch/includes/robot.launch.xml" />
</launch>