<launch>

	<arg name="use_simulator" default="true"/>
	
	<include if="$(arg use_simulator)" file="$(find turtle_simulator)/launch/turtle_full_base.launch" />
	
	<include unless="$(arg use_simulator)" file="$(find turtle_bringup)/launch/minimal.launch">
		<arg name="start_with_diagnostic" value="false"/>
		<arg name="start_with_alica" value="false" />
		<arg name="simulated" value="false" />
		<arg name="kobuki_publish_tf" value="true" />
	</include>
	
	<!-- Start the rgb-server, converts the Openni Messages to the wire message type -->
	<include file="$(find turtle_wire_bridge)/launch/rgbd_server.launch" />

</launch>