<launch>

  <arg name="includes" default="$(find turtle_bringup)/launch/includes" />
  <arg name="kinect_nodelet_manager_name" default="camera_nodelet_manager" /> <!-- Setup the name of the NodeletManager of the Kinect -->
  <arg name="kinect_nodelet_manager_threads" default="4" /> <!-- Setup the Number of threads to run inside the NodeletManager for the Kinect -->

  <!-- Start Openni and Kinect-Stuff -->
  <include file="$(arg includes)/openni.launch.xml" >
    <arg name="publish_tf" value="false" />
    <arg name="rgb_processing" value="true" />
    <arg name="ir_processing" value="false" />
    <arg name="depth_processing" value="true" />
    <arg name="depth_registered_processing" value="false"/>
    <arg name="disparity_processing" value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="manager_name" value="$(arg kinect_nodelet_manager_name)" />
    <arg name="num_worker_threads" value="$(arg kinect_nodelet_manager_threads)" />
  </include>

  <!-- Start the rgb-server, converts the Openni Messages to the wire message type -->
  <include file="$(arg includes)/rgbd_server.launch.xml" />

  <!-- Startup the ED Server -->
  <include file="$(arg includes)/ed.launch.xml" />

</launch>
